name: CI

on:
  push:
    branches:
      - "main"
    paths:
      - '**.go'
      - 'go.mod'
      - 'go.sum'

  pull_request:
    branches:
      - "main"

  merge_group:

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    permissions:
      # Give the default GITHUB_TOKEN write permission to commit and push the
      # added or changed files to the repository.
      contents: write
    steps:
        - name: Checkout
          uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6

        - uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6
          with:
            go-version: '1.25'

        - name: Lint Go Code
          uses: golangci/golangci-lint-action@1e7e51e771db61008b38414a730f564565cf7c20 # v9
          with:
            version: latest
            skip-cache: false

        - name: Build
          run: go build ./...

        - name: Test
          run: go test -race -cover ./...