name: CI

on:
  push:
    branches:
      - "main"
    paths:
      - '**.go'
      - 'go.mod'
      - 'go.sum'
  pull_request:
    branches:
      - "main"
    paths:
      - '**.go'
      - 'go.mod'
      - 'go.sum'

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    permissions:
      # Give the default GITHUB_TOKEN write permission to commit and push the
      # added or changed files to the repository.
      contents: write
    steps:
        - name: Checkout
          uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5

        - uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00 # v6
          with:
            go-version: '1.25'

        - name: Lint Go Code
          uses: golangci/golangci-lint-action@0a35821d5c230e903fcfe077583637dea1b27b47 # v9
          with:
            version: latest
            skip-cache: false

        - name: Build
          run: go build ./...

        - name: Test
          run: go test -race -cover ./...