name: Release

on:
  release:
    types:
      - published

permissions:
  contents: write
  packages: write

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    steps:
        - name: Checkout
          uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5

        - uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00 # v6
          with:
            go-version: '1.25'

        - name: Lint Go Code
          uses: golangci/golangci-lint-action@0a35821d5c230e903fcfe077583637dea1b27b47 # v9
          with:
            version: latest
            skip-cache: false

        - name: Build
          run: go build ./...

        - name: Test
          run: go test -race -cover ./...
